header,
main,
footer {
  max-width: 800px;
  margin: 50px auto;
}

header,
footer {
  text-align: center;
}
header img {
  width: 150px;
}

.btn {
  border-radius: 2px;
  padding: 0 50px;
}

.btn-info {
  background-color: rgb(164, 240, 240);
  color: rgb(7, 122, 189);
}

.project {
  margin: 50px 0;
}

.attribution {
  font-size: 0.75em;
}

nav a {
  text-decoration: none;
  color: rgb(7, 122, 189);
  padding: 0 10px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: rgb(7, 122, 189);
}

@media (max-width: 800px) {
  header,
  main,
  footer {
    margin-left: 30px;
    margin-right: 30px;
  }
}